.searchContainer{
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 40%;
    margin: auto;
}

.inputFields{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}

.searchIcon{
    background-color: #ffe082;
    padding: 10px;
    border-radius: 15%;
    margin-left: -35px;
    cursor: pointer;
}

.searchBtn{
    outline: none;
    border: none;
    background-color: blueviolet;
}

.filterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
    width: 60%;
    margin: auto;
    margin-bottom: 2%;
}

.dropdown{
    background-color: cadetblue;
    color: white;
    padding: 12px;
    outline: none;
    border: none;
}
.applyFilterBtn{
    padding: 12px;
    background-color: cadetblue;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

/*Media Queries*/

@media (max-width:600px){
    .filterContainer{
        flex-direction: column;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .dropdown{
        margin-bottom: 10px;
        width: 88%;
    }

    .applyFilterBtn{
        width: 88%;
    }
}