.jobsList{
    display: inline-flex;
    flex-direction: row;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    margin-left: 2.5%;
}

.jobId{
    width: 5%;
}

.jobLocation{
    width: 10%;
}
.jobTitle{
    width: 15%;
}
.jobRequirements{
    width: 65%;
}
.jobVisa{
    width: 5%;
}

.jobDetMob{
    display: none;
    background-color: darkcyan;
}

.viewApplicantsBtn{
    background-color: #28A745;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 6%;
    margin-left: 1%;
    font-size: 14px;
    padding: 0.5%;
}

.viewApplicantsBtnDisabled{
    background-color: #89eea1;
    cursor: not-allowed;
    border: none;
    outline: none;
    color: white;
    display: inline; 
    margin-left: 1%;
    font-size: 14px;
    padding: 0.5%;
    border-radius: 6%;
}

.removeBtn{
    background-color: #FFC107;
    border: none;
    outline: none;
    color:white;
    cursor: pointer;
    border-radius: 6%;
    margin-left: 1%;
    font-size: 14px;
    padding: 0.5%;
}

.removeBtnDisabled{
    background-color:#ffe391;
    border: none;
    outline: none;
    color: white;
    cursor: not-allowed;
    border-radius: 6%;
    margin-left: 1%;
    font-size: 14px;
    padding: 0.5%;
}

/*Media Queries*/

@media (max-width:600px){
    .jobsContainer{
        flex-direction: column;
    }
    .jobsList{
        flex-direction: column;
        margin-top: 10%;
        width: 95%;
    }
    
    .jobId{
        width: 95%;
        display: flex;
        flex-direction: row;
    }
    .jobCompany{
        width: 95%;
        display: flex;
        flex-direction: row;
    }
    .jobLocation{
        width: 95%;
        display: flex;
        flex-direction: row;
    }
    .jobTitle{
        width: 95%;
        display: flex;
        flex-direction: row;
    }
    .jobRequirements{
        width: 95%;
        display: flex;
        flex-direction: row;
    }
    .jobVisa{
        width: 95%;
        display: flex;
        flex-direction: row;
    }
    .jobApply{
        width: 95%;
        margin: auto;
    }
    .jobSave{
        width: 95%;
        margin: auto;
    }
    .jobsContainer{
        display: none;
    }
    .jobDetMob{
        display: flex;
        background-color: #BEE5EB;
        width: 32%;
    }
    
    .viewApplicantsBtn{
        background-color: #28A745;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        border-radius: 0%;
        margin-left: 1%;
        font-size: 14px;
        padding: 0.5%;
        width: 95.5%;
        margin-left: 2.5%;
    }

    .removeBtn{
        background-color: #FFC107;
        border: none;
        outline: none;
        color:white;
        cursor: pointer;
        border-radius: 0%;
        margin-left: 1%;
        font-size: 14px;
        padding: 0.5%;
        width: 95.5%;
        margin-left: 2.5%;
    }

    .removeBtnDisabled{
        background-color:#ffe391;
        border: none;
        outline: none;
        color: white;
        cursor: not-allowed;
        border-radius: 0%;
        margin-left: 1%;
        font-size: 14px;
        padding: 0.5%;
        width: 95.5%;
        margin-left: 2.5%;
    }
}