.leftContainer{
    padding: 1%;
    margin-top: 6%;
}

.rightContainer{
    margin-top: 2%;
    padding: 2%;
}

.imgContainer{
    width: 100%;
}

.heading{
    color: #17a2b8;
    text-align: center;
}

.loginForm{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height:100%
}
  
.modalMessage{
    text-align: center;
}
.errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
}
  
.sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
}