.noJobs{
    margin-left: 2.5%;
}
.loader{
    margin-left: 40%;
}
.subHeading {
    margin-top: 6%;
    margin-left: 2%;
    color: darkgreen;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: ultra-expanded;
}