.formContainer{
    margin-top: 60px;
}

.form {
    width: 100%;
}

.applicantsList{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    margin-top: 4%;
    padding: 15px;
}

.subHeading{
    width: 20%;
    color: white;
    justify-content: center;
    background-color: #17a2b8;
}

.submitBtn{
    width: 100%;
}

.errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
}
  
.sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
}

.notify{
    visibility: show;
    width: 100%;
    text-align: center;
}

.notifyDisabled{
    visibility: hidden;
    width: 100%;
}