.jobsContainer{
    display: inline-flex;
    flex-direction: row;
    border: 1px solid #B8DAFF;
    width: 85%;
    text-align: center;
    background-color: #17a2b8;
    margin-left: 2.5%;
    color: white;
}

.savedJobsContainer{
    display: inline-flex;
    flex-direction: row;
    border: 1px solid #e5edf5;
    width: 85%;
    text-align: center;
    background-color: #17a2b8;
    margin-left: 2.5%;
    color: white;
}

.jobId{
    width: 5%;
}
.jobCompany{
    width: 10%;
}
.jobTitle{
    width: 10%;
}
.jobLocation{
    width: 10%;
}
.jobRequirements{
    width: 45%;
}
.jobVisa{
    width: 10%;
}
.postedDate{
  width: 10%;
}
.jobType{
    width: 15%;
}


.jobIdRecruiter{
    width: 10%;
}
.jobCompanyRecruiter{
    width: 15%;
}
.jobTitleRecruiter{
    width: 15%;
}
.jobLocationRecruiter{
    width: 15%;
}
.jobVisaRecruiter{
    width: 15%;
}
.postedDateRecruiter{
  width: 15%;
}
.jobType{
    width: 15%;
}

.headers{
    margin: 18.72px;
    font-size: 1rem;
    font-weight: normal;
}

@media(max-width:600px){
    .jobsContainer{
        display: none;
    }
    .savedJobsContainer{
        display: none;
    }
}