.pageNums{
    list-style-type: none;
    text-align: center;
    margin-top: 2%;
}

.pageNumsLI{
    display: inline;
    border: 1px solid black;
    color: black;
}

.pageNumsLIActive{
    display: inline;
    border: 1px solid black;
    color: white;
    background-color: rgb(171, 171, 240);
}

.pageNumsAnchorTags{
    text-decoration: none;
    color: black;
    padding: 10px;
    cursor: pointer;
}